{%- if !imports.is_empty() %}
{%- for import in imports %}
import { {{ import.name }} } from '{{ import.path }}';
{%- endfor %}

{%- endif %}
{%- if doc != "" %}
/**
 * {{ doc }}
 */
{%- endif %}
export type {{ name }} = {{ target_type|safe }};
